<div class="repo p-2 text-center">
  <a href="https://github.com/ryo-ma/github-profile-trophy">
    <img class="repo-img-light w-200" alt="{{ include.username }}" src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&no-frame=true&column=4&title=MultiLanguage,LongTimeUser,Experience,Repositories,Stars,Commits,Followers,PullRequest">
    <img class="repo-img-dark w-200" alt="{{ include.username }}" src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_dark }}&locale={{ site.lang }}&no-frame=true&column=4&title=MultiLanguage,LongTimeUser,Experience,Repositories,Stars,Commits,Followers,PullRequest">
  </a>
</div>


<!-- https://github-profile-trophy.vercel.app/?username{{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&no-frame=true&column=4&title=MultiLanguage,LongTimeUser,Experience,Repositories,Stars,Commits,Followers,PullRequest -->